*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  // 1rem = 10px  10px/16px = 62.5%
  font-size: 10px;

  @include respond(big-desktop) {
    //75% 1rem =12, 12/16
    font-size: 75%;
  }

  @include respond(tab-land) {
    // width < 1200, 1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // width < 900, 1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
